.content {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  padding-top: 100px;
  padding-left: 20px;
}

.add-book {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(25vw - 20px);
  border-radius: 10px;
  box-shadow: 0px 4px 14px -5px rgba(34, 60, 80, 0.2);
  width: calc(25vw - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
  transition-property: width, height, filter, background;
  transition-duration: .2s;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  font-size: 180px;
  color: rgba(59, 59, 59, 0.5);
}

.add-book:hover {
  background: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1481px) {
  .add-book {
    font-size: 135px;
    width: calc(20% - 20px);
    height: calc(20vw - 20px);
  }
}

@media (min-width: 1191px) and (max-width: 1480px) {
  .add-book {
    font-size: 140px;
    width: calc(25% - 20px);
    height: calc(25vw - 20px);
  }
}

@media (min-width: 901px) and (max-width: 1190px) {
  .add-book {
    font-size: 160px;
    width: calc(33.33333333% - 20px);
    height: calc(33.33333333vw - 20px);
  }
}

@media (min-width: 681px) and (max-width: 900px) {
  .add-book {
    width: calc(50% - 20px);
    height: calc(50vw - 20px);
  }
}

@media (min-width: 0px) and (max-width: 680px) {
  .add-book {
    width: 100%;
    height: calc(100vw - 20px);
  }
}
